<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">


    <!--realm-->
    <bean id="shiroRealm" class="com.hy.crmsystem.shiroRealm.ShiroRealm">
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <!--加密方式-->
                <property name="hashAlgorithmName" value="MD5"></property>
                <!--加密次数-->
                <property name="hashIterations" value="1024"></property>
                <!--<property name="storedCredentialsHexEncoded" value="true"></property>-->
            </bean>
        </property>
    </bean>


    <!--安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroRealm"></property>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <!-- 如果没有认证 访问其他需要认证的连接   则跳转到的页面 -->
        <property name="loginUrl" value="/page/login-1.html"></property>
        <property name="unauthorizedUrl" value="/page/noperms.html"></property>
        <!--xml授权-->
        <property name="filterChainDefinitions">
            <value>
                /imgs/**=anon
                /api/**=anon
                /css/**=anon
                /images/**=anon
                /js/**=anon
                /lib/**=anon
                /login/**=anon
                /login.html=anon
                /page/zhuce.html=anon
                /page/welcome-2.html=perms["page:welcome-2.html"]
                /projectPage/customerManager/customer.html=perms["projectPage:customerManager:customer.html"]
                /projectPage/systemManager/forum.html=perms["projectPage:systemManager:forum.html"]
                /projectPage/afterSell/afterSell.html=perms["projectPage:afterSell:afterSell.html"]
                /projectPage/statistics/statistics1.html=perms["projectPage:statistics:statistics1.html"]
                /projectPage/systemManager/userManager.html=perms["projectPage:systemManager:userManager.html"]
                /projectPage/systemManager/role.html=perms["projectPage:systemManager:role.html"]
                /bussinessOppo/selectMyBus.do=perms["bussinessOppo:selectMyBus.do"]
                /projectPage/bussinessOppo/allBussinessOppo.html=perms["projectPage:bussinessOppo:allBussinessOppo.html"]
                /documentary/selectMyBus1.do=perms["documentary:selectMyBus1.do"]
                /projectPage/documentary/allDocumentary.html=perms["projectPage:documentary:allDocumentary.html"]
                /contract/selectMyCont.do=perms["contract:selectMyCont.do"]
                /projectPage/contract/allContract.html=perms["projectPage:contract:allContract.html"]
                /systemManager/setUserPerms.do=perms["systemManager:setUserPerms.do"]
                /systemManager/selectUserByUid.do=perms["systemManager:selectUserByUid.do"]
                /systemManager/deleteUser.do=perms["systemManager:deleteUser.do"]
                /systemManager/updateRole.do=perms["systemManager:updateRole.do"]
                /systemManager/setRole.do=perms["systemManager:setRole.do"]
                /systemManager/updateRoleUid.do=perms["systemManager:updateRoleUid.do"]
                /systemManager/updatePermissionUid.do=perms["systemManager:updatePermissionUid.do"]
                /systemManager/updateUser.do=perms["systemManager:updateUser.do"]
                /projectPage/systemManager/addRole.html=perms["projectPage:systemManager:addRole.html"]
                /systemManager/addRole.do=perms["systemManager:addRole.do"]
                /systemManager/selectRoleByUid.do=perms["systemManager:selectRoleByUid.do"]
                /systemManager/deleteRole.do=perms["systemManager:deleteRole.do"]
                /systemManager/updateRole.do=perms["systemManager:updateRole.do"]
                /systemManager/setRolePerms.do=perms["systemManager:setRolePerms.do"]
                /systemManager/updatePermissionRid.do=perms["systemManager:updatePermissionRid.do"]
                /projectPage/afterSell/addAfterSell.html=perms["projectPage:afterSell:addAfterSell.html"]
                /afterSell/insert.do=perms["afterSell:insert.do"]
                /afterSell/selectOneAfterSell.do=perms["afterSell:selectOneAfterSell.do"]
                /afterSell/updateStatus.do=perms["afterSell:updateStatus.do"]
                /projectPage/systemManager/addForum.html=perms["projectPage:systemManager:addForum.html"]
                /forum/selectTalk.do=perms["forum:selectTalk.do"]
                /forum/addReply.do=perms["forum:addReply.do"]
                /forum/replyReply.do=perms["forum:replyReply.do"]
                /projectPage/contract/addMyContract.html=perms["projectPage:contract:addMyContract.html"]
                /contract/addContract.do=perms["contract:addContract.do"]
                /contract/myContractDetails.do=perms["contract:myContractDetails.do"]
                /contract/MyReturnMoney.do=perms["contract:MyReturnMoney.do"]
                /contract/MyOpenPaper.do=perms["contract:MyOpenPaper.do"]
                /ocontract/addReturnMoney.do=perms["contract:addReturnMoney.do"]
                /contract/addOpenPaper.do=perms["contract:addOpenPaper.do"]
                /contract/updateMyContract.do=perms["contract:updateMyContract.do"]
                /contract/subUpdateContract.do=perms["contract:subUpdateContract.do"]
                /projectPage/contract/addContract.html=perms["projectPage:contract:addContract.html"]
                /contract/addContract.do=perms["contract:addContract.do"]
                /contract/contractDetails.do=perms["contract:contractDetails.do"]
                /contract/returnMoney.do=perms["contract:returnMoney.do"]
                /contract/openPaper.do=perms["contract:openPaper.do"]
                /contract/updateContract.do=perms["contract:updateContract.do"]
                /contract/subUpdateContract.do=perms["contract:subUpdateContract.do"]
                /contract/addReturnMoney.do=perms["contract:addReturnMoney.do"]
                /forum/selectTalk.do=perms["forum:selectTalk.do"]
                /page/table/add.html=perms["page:table:add.html"]
                /customerManager/insert.do=perms["customerManager:insert.do"]
                /customerManager/selectEmpById.do=perms["customerManager:selectEmpById.do"]
                /crmsystem/customerManager/update.do=perms["crmsystem:customerManager:update.do"]
                /customerManager/selectById.do=perms["customerManager:selectById.do"]
                /customerManager/selectById1.do=perms["customerManager:selectById1.do"]
                /customerManager/selectById2.do=perms["customerManager:selectById2.do"]
                /projectPage/bussinessOppo/addBussinessOppo.html=perms["projectPage:bussinessOppo:addBussinessOppo.html"]
                /bussinessOppo/insert.do=perms["bussinessOppo:insert.do"]
                /bussinessOppo/selectEmpById.do=perms["bussinessOppo:selectEmpById.do"]
                /documentary/selectMyDocByBus.do=perms["documentary:selectMyDocByBus.do"]
                /bussinessOppo/selectById2.do=perms["bussinessOppo:selectById2.do"]
                /projectPage/bussinessOppo/addBussinessOppo.html=perms["projectPage:bussinessOppo:addBussinessOppo.html"]
                /bussinessOppo/insert.do=perms["bussinessOppo:insert.do"]
                /bussinessOppo/selectEmpById.do=perms["bussinessOppo:selectEmpById.do"]
                /documentary/selectMyDocByBus.do=perms["documentary:selectMyDocByBus.do"]
                /bussinessOppo/selectById2.do=perms["bussinessOppo:selectById2.do"]
                /projectPage/documentary/addDocumentary.html=perms["projectPage:documentary:addDocumentary.html"]
                /documentary/insert.do=perms["documentary:insert.do"]
                /bussinessOppo/selectEmpById.do=perms["bussinessOppo:selectEmpById.do"]
                /projectPage/documentary/addDocumentary.html=perms["projectPage:documentary:addDocumentary.html"]
                /documentary/insert.do=perms["documentary:insert.do"]
                /bussinessOppo/selectEmpById.do=perms["bussinessOppo:selectEmpById.do"]
                /**=authc
            </value>
        </property>
    </bean>


    <!--thymeleaf shiro-->


</beans>