<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="utf-8">
    <title>论坛</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="css/public.css" media="all">
</head>
<script src="lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<body>
<style>
    .layui-btn-container {
        position: absolute;
        top: 15px;
        left: 1200px
    }
    #le{
        position: absolute;
        left: -100px;
        top:335px;
    }
    #ri{
        position: absolute;
        right: 10px;
        top:335px;
    }
    #checks1{
        position: absolute;
        left: 195px;
    }
    #checks{
        position: absolute;
        left: 195px;
    }
</style>
<script type="text/javascript">
    $(function () {
        //返回上一个页面
        $("body").on("click", '.data-add-btn', function () {
            window.location.href = "projectPage/systemManager/userManager.html";
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
<script>
    layui.use(['form', 'layedit', 'upload', 'laydate'], function () {
        var form = layui.form;//只有执行了这一步，部分表单元素才会自动修饰成功
        var layedit = layui.layedit,
            $ = layui.jquery;
        var upload = layui.upload;
        var laydate = layui.laydate;
        form.render();
        //监听提交
        form.on('submit(formDemo)', function (data) {
            var obj = document.getElementsByName("rid");
            var manyRid = "";
            var i = 0;
            for(i in obj){
                if(obj[i].checked){
                    manyRid += obj[i].value+",";
                }
            }
            $.ajax({
                url: 'systemManager/updateRoleUid.do',
                type: 'POST',
                dataType: 'json',
                data: manyRid,
                success: function (msg) {
                    if (msg == 1) {
                        layer.msg("修改成功", {icon: 1,time:1000},function () {
                            //关闭当前页面并打开主页面
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.location.reload();
                        });
                    } else {
                        layer.msg("修改失败", {icon: 6});
                    }
                }
            });
            return false;
        });
    });
</script>
<h2 align="center">角色</h2>
<br>
<form class="layui-form">
    <input type="hidden"  name="uid">

    <!--有部分权限 有值-->
    <div th:if="${#lists.size(some)}">

        <DIV class="layui-form-item" id="checks1">
            <DIV class="layui-input-block" th:each="all:${allRoles}">
                <input TYPE="checkbox" NAME="rid" th:title="${all.roleName}" th:value="${all.rid}" th:each="s:${some}"  th:checked="${all.rid} == ${s.rid}">
            </DIV>
        </DIV>


    </div>
    <!--无部分权限 无值-->
    <div th:unless="${#lists.size(some)}">
        <DIV class="layui-form-item" id="checks">
            <DIV class="layui-input-block" th:each="all:${allRoles}">

                <input TYPE="checkbox" NAME="rid" th:title="${all.roleName}" th:value="${all.rid}">

            </DIV>
        </DIV>
    </div>





    <div class="layui-form-item" id="le">
        <div class="layui-input-block">
            <button type="button" class="layui-btn data-add-btn"> 返回</button>
        </div>
    </div>

    <div class="layui-form-item" id="ri">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">提交</button>
        </div>
    </div>


</form>
</body>
</html>