<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="utf-8">
    <title>论坛</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="css/public.css" media="all">
</head>
<script src="lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<body>
<style>
    .layui-btn-container {
        position: absolute;
        top: 15px;
        left: 1200px
    }
</style>
<script type="text/javascript">
    $(function () {
        //返回上一个页面
        $("body").on("click", '.data-add-btn', function () {
            window.location.href = "projectPage/contract/allContract.html";
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
        //刷新页面
        $("body").on("click", '.refresh-btn', function () {
            window.location.reload();
        });
    });
</script>
<script>
    layui.use(['form', 'layedit', 'upload','laydate'], function () {
        var form = layui.form;//只有执行了这一步，部分表单元素才会自动修饰成功
        var layedit = layui.layedit,
            $ = layui.jquery;
        var upload = layui.upload;
        var laydate=layui.laydate;
        form.render();


        //执行一个laydate实例
        laydate.render({
            elem: '#signedTime' //指定元素
        });
        laydate.render({
            elem: '#starTime'
        });
        laydate.render({
            elem: '#serviceTime'
        });

    });
</script>
<form class="layui-form">
    <input type="hidden" id="customerId" name="customerId">
    <div class="layui-form-item">优先级：
        <input type="radio" name="priority" value="1" title="高">
        <input type="radio" name="priority" value="2" title="中">
        <input type="radio" name="priority" value="3" title="低">
    </div>
    <div class="layui-btn-container">
        <button type="button" class="layui-btn data-add-btn">
            <i class="layui-icon layui-icon-left"></i> 返回
        </button>
        <button type="button" class="layui-btn refresh-btn">
            <i class="layui-icon layui-icon-refresh"></i> 刷新
        </button>
    </div>
    <hr>
    <font size="4">客户信息</font>
    <hr>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">客户名称</label>
            <input type="text" name="cname" th:value="${c.getCname()}" required lay-verify="required" autocomplete="off"
                   class="layui-input"
                   style="width: 400px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">所属行业</label>
            <div class="layui-inline">
                <select id="cindustry" name="cindustry" class="layui-form-select">
                    <option th:text="${c.getCindustry()}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所在城市</label>
            <input type="text" name="ccity" th:value="${c.getCcity()}" id="ccity" required lay-verify="required" autocomplete="off"
                   class="layui-input"
                   style="width: 400px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">详细地址</label>
            <input type="text" name="caddress" th:value="${c.getCaddress()}" id="caddress" required lay-verify="required" autocomplete="off"
                   class="layui-input"
                   style="width: 400px">
        </div>
    </div>
    <hr>
    <font size="4">合同信息</font>
    <hr>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">合同名称</label>
            <input type="text" name="contractName" th:value="${c.getContractName()}" required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">合同编号</label>
            <input type="text" name="contractNum" th:value="${c.getContractNum()}" required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">合同金额</label>
            <input type="text" name="contractMoney" th:value="${c.getContractMoney()}" required lay-verify="required" autocomplete="off"
                   class="layui-input"
                   style="width: 400px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">签约日期</label>
            <input type="text" id="signedTime" th:value="${c.getSignedTime()}" name="signedTime" placeholder='yyyy-MM-dd' required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">生效日期</label>
            <input type="text" id="starTime" th:value="${c.getStarTime()}" name="starTime" placeholder='yyyy-MM-dd' required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">服务期至</label>
            <input type="text" id="serviceTime" th:value="${c.getServiceTime()}" name="serviceTime" placeholder='yyyy-MM-dd' required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">对方联系人</label>
            <input type="text" name="linkman" th:value="${c.getLinkman()}" required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">固定电话</label>
            <input type="text" name="officeno" th:value="${c.getOfficeno()}" required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">移动电话</label>
            <input type="text" name="phoneno" th:value="${c.getPhoneno()}" required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮件/QQ</label>
            <input type="text" name="email" th:value="${c.getEmail()}" required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">主要技术条款</label>
        <div class="layui-input-block">
            <textarea name="technical" th:text="${c.getTechnical()}" placeholder="【产品交付和时间】？？？" class="layui-textarea"
                      lay-verify="content"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">主要商务条款</label>
        <div class="layui-input-block">
            <textarea name="commerce" th:text="${c.getCommerce()}" placeholder="【收款方式和时间】？？？" class="layui-textarea" lay-verify="content"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">相关附件</label>
        <div class="layui-input-block" type="text">
            <input type="file" name="file" id="uploadFile">
            <input type="hidden" id="hidd" name="fileName">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">合同所属部门</label>
            <input type="text" name="ofdept" th:value="${c.getOfdept()}" required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">关联人员</label>
            <input type="text" name="ofpeople" th:value="${c.ofpeople}" required lay-verify="required" autocomplete="off" class="layui-input"
                   style="width: 400px">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">处理过程</label>
        <div class="layui-input-block">
            <textarea name="process" th:text="${c.getProcess()}" placeholder="【收款方式和时间】？？？" class="layui-textarea"
                      lay-verify="content"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">提交</button>
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="">编辑</button>
        </div>
    </div>
</form>
</body>
</html>